@import "../../app.scss";

.hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;

    @include mobile {
        display: flex;
        justify-content: center;
    }

    .wrapper {
        max-width: 80%;
        height: 100%;
        margin: auto;
    }
    
    .textContainer {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        z-index: 10;

        @include mobile {
            height: 50%;
            width: 100%;
            gap: 20px;
            align-items: center;
            text-align: center;
        }
        
        h2 {
            font-size: 30px;
            letter-spacing: 10px;

            @include tablet {
                font-size: 24px;
                letter-spacing: 8px;
            }
        }

        h1 {
            font-size: 80px; 
            color: rebeccapurple;

            @include tablet {
                font-size: 56px;
            }

            @include mobile {
                font-size: 35px;
            }   
        }

        .buttons {
            display: flex;
            flex-direction: row;
            gap: 20px;
            padding: 30px 0;

            @include tablet {
                padding: 25px 0;
            }

            @include mobile {
                justify-content: space-evenly;
                margin-top: 40px;
                padding: 0px;
            }

            button {
                padding: 20px;
                border: 1px solid white;
                border-radius: 10px;
                background-color: transparent;
                color: white;
                display: flex;
                cursor: pointer;
                font-weight: 300;
                z-index: 2;

                &:hover {
                    color: black;
                    background-color: white;
                    transition: 0.7s;
                }

                @include tablet {
                    padding: 15px 18px;
                }

                @include mobile {
                    padding: 15px;
                }
            }
        }

        img {
            width: 50px;

            @include tablet {
                width: 40px;
            }

            @include mobile {
                display: none
            }
        }
    }

    .imageContainer {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;

        @include tablet {
            height: 80%;
            top: unset;
            bottom: 0;
        }

        @include mobile{
            height: 50%;
            bottom: 0;
            top: unset;
            right: unset;
         }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .slidingTextContainer {
        position: absolute;
        font-size: 50vh;
        bottom: -100px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
    }
}
