@import "../../app.scss";

.portfolio {
    position: relative;

    .progress {
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 20px;
        text-align: center;
        color: orange;
        font-size: 36px;

        @include tablet {
            font-size: 26px;
        }

        @include mobile {
            padding-top: calc(100vh - 100px);
            font-size: 22px;
            
        }

        .progressBar {
            height: 10px;
            background-color: white;
            
            @include tablet {
                height: 5px;
            }
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .wrapper {
            max-width: 80%;
            height: 100%;
            margin: auto;
            display: flex;
            gap: 50px;
            justify-content: center;
            align-items: center;

            @include mobile {
                flex-direction: column;
                max-width: 90%;
            }

            .imageContainer {
                height: 50%;
                overflow: hidden;
                position: relative;
                flex: 1;

                @include tablet {
                    height: 40%;
                    width: 60%;
                }

                @include mobile {
                    width: 100%;
                    max-height: 200px;
                    margin-top: 20px;
                }
                
                img {
                    width: 100%;
                    height: auto;
                    transition: transform 5s ease;

                    &:hover{
                        transform: translateY(-100% + 50%);
                    }

                    @include mobile {
                        object-fit: contain;
                    }
                }
            }
            
            .textContainer {
                height: 50%;
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 15px;

                @include tablet {
                    gap: 25px;
                    padding-top: 20px;
                }

                @include mobile {
                    transform: none !important;
                    padding: 10px;
                    align-items: center;
                    text-align: center;
                    gap: 18px;
                }
                
                h2 {
                    font-size: 45px;

                    @include tablet {
                        font-size: 30px;
                        white-space: nowrap;
                    }

                    @include mobile {
                        font-size: 30px;
                    }
                }

                p{
                    color: gray;
                    font-size: 18px;

                    @include tablet {
                        font-size: 15px;
                    }

                    @include mobile {
                        font-size: 12px;
                    }
                }

                .techUsedContainer {
                    display: flex;
                    gap: 5px;
                    .tag {
                        font-size: 13px;
                        background-color: rgb(83, 83, 224);
                        border-radius: 5px;
                        padding: 4px;
                        cursor: pointer;

                        @include tablet {
                            font-size: 11px;
                        }

                        @include mobile {
                            font-size: 10px;
                        }
                    }
                }

                .btnContainer {
                    display: flex;
                    gap: 10px;                    
                    button {
                        background-color: orange;
                        border: none;
                        border-radius: 10px;
                        padding: 10px ;
                        cursor: pointer;
                        z-index: 10;
                        
                        @include tablet {
                            padding: 8px;
                        }

                        @include mobile {
                            padding: 6px;
                        }
                    }
                }
                
            }
        }
    }
}